In [8]:
# load the needed modules, follow pandas method outlined in the readme hint
import pandas as pd
import os
import csv

In [11]:
# Access the file path
csv_path = os.path.join("cities.csv")

In [12]:
city_file = pd.read_csv(csv_path)

In [13]:
# Assign file to df per instructions in the hint, check top 20 rows
city_file_df = pd.DataFrame(city_file)
city_file_df.head(20)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
5,5,martyush,92,RU,1528905306,94,56.40,61.89,55.03,9.33
6,6,hobart,20,AU,1528902000,87,-42.88,147.33,44.60,8.05
7,7,broken hill,0,AU,1528905311,88,-31.97,141.45,44.50,7.31
8,8,harnosand,0,SE,1528903200,44,62.63,17.94,60.80,13.87
9,9,tuatapere,0,NZ,1528905312,100,-46.13,167.69,38.92,3.40
10,10,puerto ayora,90,EC,1528902000,69,-0.74,-90.35,77.00,13.87
11,11,havre-saint-pierre,75,CA,1528902000,58,50.23,-63.60,53.60,19.46
12,12,punta arenas,0,CL,1528902000,100,-53.16,-70.91,35.60,9.17
13,13,tasiilaq,75,GL,1528901400,60,65.61,-37.64,39.20,2.24
14,14,chapais,40,CA,1528902000,38,49.78,-74.86,59.00,10.29
15,15,avarua,40,CK,1528902000,56,-21.21,-159.78,73.40,10.29
16,16,hofn,75,IS,1528902000,87,64.25,-15.21,51.80,8.05
17,17,yukamenskoye,92,RU,1528905315,98,57.89,52.24,56.65,10.22
18,18,khandbari,80,NP,1528905315,67,27.38,87.21,44.59,1.39
19,19,bethel,1,US,1528901580,93,60.79,-161.76,44.60,8.05

In [21]:
# Data above looks good, just need to change date into a more standard form using datetime method
# Found method on stack overflow here that worked... https://stackoverflow.com/questions/42958217/pandas-read-excel-datetime-converter
import datetime

In [23]:
city_file_df["Date"] = pd.to_datetime(city_file_df["Date"])
city_file_df.head(20)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1970-01-01 00:00:01.528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1970-01-01 00:00:01.528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1970-01-01 00:00:01.528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1970-01-01 00:00:01.528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1970-01-01 00:00:01.528905306,88,70.62,147.90,32.17,2.95
5,5,martyush,92,RU,1970-01-01 00:00:01.528905306,94,56.40,61.89,55.03,9.33
6,6,hobart,20,AU,1970-01-01 00:00:01.528902000,87,-42.88,147.33,44.60,8.05
7,7,broken hill,0,AU,1970-01-01 00:00:01.528905311,88,-31.97,141.45,44.50,7.31
8,8,harnosand,0,SE,1970-01-01 00:00:01.528903200,44,62.63,17.94,60.80,13.87
9,9,tuatapere,0,NZ,1970-01-01 00:00:01.528905312,100,-46.13,167.69,38.92,3.40
10,10,puerto ayora,90,EC,1970-01-01 00:00:01.528902000,69,-0.74,-90.35,77.00,13.87
11,11,havre-saint-pierre,75,CA,1970-01-01 00:00:01.528902000,58,50.23,-63.60,53.60,19.46
12,12,punta arenas,0,CL,1970-01-01 00:00:01.528902000,100,-53.16,-70.91,35.60,9.17
13,13,tasiilaq,75,GL,1970-01-01 00:00:01.528901400,60,65.61,-37.64,39.20,2.24
14,14,chapais,40,CA,1970-01-01 00:00:01.528902000,38,49.78,-74.86,59.00,10.29
15,15,avarua,40,CK,1970-01-01 00:00:01.528902000,56,-21.21,-159.78,73.40,10.29
16,16,hofn,75,IS,1970-01-01 00:00:01.528902000,87,64.25,-15.21,51.80,8.05
17,17,yukamenskoye,92,RU,1970-01-01 00:00:01.528905315,98,57.89,52.24,56.65,10.22
18,18,khandbari,80,NP,1970-01-01 00:00:01.528905315,67,27.38,87.21,44.59,1.39
19,19,bethel,1,US,1970-01-01 00:00:01.528901580,93,60.79,-161.76,44.60,8.05

In [25]:
# Need to convert to HTML using documentation provided in the readme hint here... https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.to_html.html
# Specify the path
city_file_converter = city_file_df.to_html("data.html")
# Initialize
city_file_converter